.genres{
    display: flex;
    gap: 5px;
    .genre{
        background-color: var(--pink);
        padding: 1px 3px;
        font-size: 12px;
        border-radius: 4px;
        white-space: nowrap;
        color: white;
    }
}